<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Node pop con Node y <%= title %></h1>
     <h3>Practica Miguel Mingoarranz Perez</h3>

     <ul>
     <li><a href="apiv1/anuncios">Anuncios api v1</a></li>
     <li><a href="apiv2/anuncios">Anuncios api v2</a></li>
     <li><a href="apiv2/usuarios">Registro api v2 solo con nodemon</a></li>

     <h1>Usuario pruebas</h1>

     "nombre" : "pedro", "email": "pepito@pepito.com", "clave": "a12345qwerty"
     <br />
     <img src="../img/moto.jpg" />

     </ul>
  </body>
</html>
