<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     <p>Practica Miguel Mingoarranz Perez</p>

     <ul>
     <li><a href="apiv1/anuncios">Anuncios api v1</a></li>
     <li><a href="apiv2/anuncios">Anuncios api v2</a></li>
     <li><a href="apiv2/usuarios">Registro api v2 solo con nodemon</a></li>

     <h1>usuario pruebas</h1>

     "nombre" : "pedro", "email": "pepito@pepito.com", "clave": "a12345qwerty"

     <img src="./public/img/gusarapo.png" />

     </ul>
  </body>
</html>
